In [31]:
import pandas as pd

from IPython.display import display, HTML
display(HTML(data="""
<style>
    div#notebook-container    { width: 90%; }
    div#menubar-container     { width: 65%; }
    div#maintoolbar-container { width: 95%; }
</style>
"""))

# pd.set_option('max_colwidth', 100)

In [3]:
mf = pd.read_csv('mf_buildstock.csv', index_col='Building')

In [32]:
mf.head()

,Location Weather Year,Usage Level,Geometry Building Type ACS,Location,Location Region,Location Weather Filename,Vintage ACS,Vintage,Heating Fuel,Geometry Building Type RECS,...,Misc Well Pump,Ducts,Infiltration,Natural Ventilation,Mechanical Ventilation,Bathroom Spot Vent Hour,Range Spot Vent Hour,PV,Days Shifted,Geometry Perimeter Footprint Ratio
Building,,,,,,,,,,,,,,,,,,,,,
1,TMY3,Medium,20 to 49 Unit,CA_Los.Angeles.Intl.AP.722950,CR11,USA_CA_Los.Angeles.Intl.AP.722950_TMY3.epw,1940-59s,1950s,Natural Gas,Multi-Family with 5+ Units,...,None,"20% Leakage, R-4",20 ACH50,"Year-Round, 3 days/wk",None,Hour6,Hour14,None,Day276,0.13
2,TMY3,High,5 to 9 Unit,IN_Indianapolis.Intl.AP.724380,CR04,USA_IN_Indianapolis.Intl.AP.724380_TMY3.epw,1980-99s,1980s,Electricity,Multi-Family with 5+ Units,...,Typical Efficiency,"10% Leakage, Uninsulated",10 ACH50,"Year-Round, 3 days/wk",None,Hour6,Hour22,None,Day245,0.13
3,TMY3,Medium,5 to 9 Unit,TX_Houston-Bush.Intercontinental.AP.722430,CR09,USA_TX_Houston-Bush.Intercontinental.AP.722430_TMY3.epw,1960-79s,1960s,Electricity,Multi-Family with 5+ Units,...,Typical Efficiency,"20% Leakage, R-4",20 ACH50,"Year-Round, 3 days/wk",None,Hour19,Hour10,None,Day1,0.13
4,TMY3,Medium,20 to 49 Unit,NJ_Newark.Intl.AP.725020,CR07,USA_NJ_Newark.Intl.AP.725020_TMY3.epw,1960-79s,1960s,Natural Gas,Multi-Family with 5+ Units,...,None,"30% Leakage, Uninsulated",15 ACH50,"Year-Round, 3 days/wk",None,Hour7,Hour18,None,Day29,0.13
5,TMY3,Medium,2 Unit,PA_Pittsburgh.Intl.AP.725200,CR07,USA_PA_Pittsburgh.Intl.AP.725200_TMY3.epw,<1940,<1940,Natural Gas,Multi-Family with 2 - 4 Units,...,None,"30% Leakage, Uninsulated",20 ACH50,"Year-Round, 3 days/wk",None,Hour11,Hour17,None,Day215,0.13

In [8]:
dirs = ['North', 'Northeast', 'East', 'Southeast', 'South', 'Southwest', 'West', 'Northwest']
inv_dirs = ['South', 'Southwest', 'West', 'Northwest', 'North', 'Northeast', 'East', 'Southeast']
orient_dict = dict(zip(dirs, inv_dirs))

In [10]:
master_df = pd.DataFrame()
for idx in mf.index:
    bldg = mf.loc[idx]
    units = int(bldg['Geometry Building Number Units MF'])
    floors = int(bldg['Geometry Stories'])
    num_units_per_floor = units/floors

    bstock = pd.DataFrame(columns= mf.columns, index=range(int(1),units+1))
    bstock.index.name = 'Building'
#     print("ID: ", idx)
#     print("floors: ", floors)
#     print("units: ", units)

    front_orient = bldg['Orientation']
    rear_orient = front_orient
    num_middle_z = floors - 2
    if num_units_per_floor%2 != 0: #no rear
        has_rear_units = False
        num_middle_x = int(num_units_per_floor - 2)
    else: #rear units
        has_rear_units = True
        rear_orient = orient_dict[bldg['Orientation']]
        num_middle_x = int((num_units_per_floor/2) - 2)   
    if num_middle_x < 0:
        num_middle_x = 0

    if has_rear_units:
        num_units_front = int(units/2)
        units_add = int(num_units_per_floor/2)
    else:
        num_units_front = int(units)
        units_add = int(num_units_per_floor)

    #Initial horizontal locations
    h_left = [1]
    if num_middle_x > 0:
        h_mid = list(range(2, 2+int(num_middle_x)))
    else:
        h_mid = []
    if num_units_front/floors > 1:
        h_right = [num_middle_x + 2]
    else:
        h_right = []
    #Define horizontal locatons by floor
    for f in range(2,floors+1):
        h_left += [h_left[-1] + units_add]
        h_mid += list(map(lambda x: x+units_add, h_mid[-num_middle_x:]))
        h_right += list(map(lambda x: x+units_add, h_right[-1:]))

    #LEVELS
    #..bottom
    if num_units_front/floors > 1:
        lv_bottom = list(range(1,2+num_middle_x+1))
    else:
        lv_bottom = [1]
    #..middle
    if num_middle_z > 0:
        lv_middle = list(range(lv_bottom[-1]+1, lv_bottom[-1]+1 + (units_add*num_middle_z)))
    else:
        lv_middle = []
    #..top
    if floors > 1:
        lv_top = list(range(units_add*(floors-1) + 1, units_add*floors +1))
    else:
        lv_top = []

    if has_rear_units:
        h_left += list(map(lambda x:x+num_units_front, h_left))
        h_mid += list(map(lambda x:x+num_units_front, h_mid))
        h_right += list(map(lambda x:x+num_units_front, h_right))
        lv_bottom += list(map(lambda x:x+num_units_front, lv_bottom))
        lv_middle += list(map(lambda x:x+num_units_front, lv_middle))
        lv_top += list(map(lambda x:x+num_units_front, lv_top))

    floor_unit = 1
    for unit in range(1,units+1):     
        bstock.loc[unit] = bldg

        if unit in h_left:
            bstock.loc[unit, 'Geometry Building Horizontal Location MF'] = 'Left'
        elif unit in h_mid:
            bstock.loc[unit, 'Geometry Building Horizontal Location MF'] = 'Middle'
        elif unit in h_right:
            bstock.loc[unit, 'Geometry Building Horizontal Location MF'] = 'Right'

        if unit in lv_bottom:
            bstock.loc[unit, 'Geometry Building Level MF'] = 'Bottom'
        elif unit in lv_middle:
            bstock.loc[unit, 'Geometry Building Level MF'] = 'Middle'
        elif unit in lv_top:
            bstock.loc[unit, 'Geometry Building Level MF'] = 'Top'

        if unit <= units/2:
            bstock.loc[unit, 'Orientation'] = front_orient
        else:
            bstock.loc[unit, 'Orientation'] = rear_orient
            
#         bstock.loc[unit, 'Geometry Single Unit Has Rear Units'] = has_rear_units
    bstock['building_code'] = 'bldg_{}'.format(idx)
    if master_df.empty:
        master_df = bstock.copy()
    else:
        master_df = master_df.append(bstock)
#     bstock.to_csv('./mf_buildstock_singles/buildstock_' + str(idx) + '.csv')
master_df.index= range(1,len(master_df)+1)
master_df.index.rename('Building', inplace=True)

In [12]:
bldg_map = pd.DataFrame(columns=['building_range'], index=master_df.building_code.unique())
for bldg in master_df.building_code.unique():
    idx = list(master_df[master_df.building_code == bldg].index.values)
    bldg_map.loc[bldg]['building_range'] = '"{}"'.format(str(idx).replace(' ','').strip(']['))
bldg_map.head()
bldg_map.to_csv('./building_id_mapping.csv')

In [33]:
bldg_map

                                                                                               building_range
bldg_1                                       "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24"
bldg_2                                                                                    "25,26,27,28,29,30"
bldg_3                                                                              "31,32,33,34,35,36,37,38"
bldg_4                              "39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62"
bldg_5                                                                                                "63,64"
bldg_6                                                                                          "65,66,67,68"
bldg_7                                                                                             "69,70,71"
bldg_8    "72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102...
bldg_9                                                                                          "114,115,116"
bldg_10   "117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140...
bldg_11   "153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176...
bldg_12                     "207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226"
bldg_13   "227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250...
bldg_14                                                                                             "281,282"
bldg_15     "283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306"
bldg_16                                                                             "307,308,309,310,311,312"
bldg_17                                                                                     "313,314,315,316"
bldg_18                                                                                             "317,318"
bldg_19                                                                                             "319,320"
bldg_20                                                                             "321,322,323,324,325,326"
bldg_21                                                                                             "327,328"
bldg_22                                                                                             "329,330"
bldg_23                                                     "331,332,333,334,335,336,337,338,339,340,341,342"
bldg_24   "343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366...
bldg_25                                                     "379,380,381,382,383,384,385,386,387,388,389,390"
bldg_26                                     "391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406"
bldg_27                                                                                         "407,408,409"
bldg_28                                                                             "410,411,412,413,414,415"
bldg_29                     "416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435"
bldg_30                                                                                         "436,437,438"
...                                                                                                       ...
bldg_182  "2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,...
bldg_183  "2637,2638,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,...
bldg_184  "2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,...
bldg_185                                                                                          "2727,2728"
bldg_186                                                                                     "2729,2730,2731"
bldg_187                                                                      "2732,2733,2734,2735,2736,2737"
bldg_188  "2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755,2756,...
bldg_189                                                                                          "2762,2763"
bldg_190  "2764,2765,2766,2767,2768,2769,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780,2781,2782,...
bldg_191                                                                                     "2818,2819,2820"
bldg_192                                                                      "2821,2822,2823,2824,2825,2826"
bldg_193                                                                                          "2827,2828"
bldg_194  "2829,2830,2831,2832,2833,2834,2835,2836,2837,2838,2839,2840,2841,2842,2843,2844,2845,2846,2847,...
bldg_195                                                                                "2853,2854,2855,2856"
bldg_196  "2857,2858,2859,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2870,2871,2872,2873,2874,2875,...
bldg_197                                                                                          "2881,2882"
bldg_198                                                                                          "2883,2884"
bldg_199  "2885,2886,2887,2888,2889,2890,2891,2892,2893,2894,2895,2896,2897,2898,2899,2900,2901,2902,2903,...
bldg_200                                                                                     "2909,2910,2911"
bldg_201                                                                                     "2912,2913,2914"
bldg_202                         "2915,2916,2917,2918,2919,2920,2921,2922,2923,2924,2925,2926,2927,2928,2929"
bldg_203                                                                      "2930,2931,2932,2933,2934,2935"
bldg_204                                        "2936,2937,2938,2939,2940,2941,2942,2943,2944,2945,2946,2947"
bldg_205                                                                                "2948,2949,2950,2951"
bldg_206                                                                      "2952,2953,2954,2955,2956,2957"
bldg_207                                                                                          "2958,2959"
bldg_208                                                                      "2960,2961,2962,2963,2964,2965"
bldg_209  "2966,2967,2968,2969,2970,2971,2972,2973,2974,2975,2976,2977,2978,2979,2980,2981,2982,2983,2984,...
bldg_210                                                            "2990,2991,2992,2993,2994,2995,2996,2997"
bldg_211                                                                                "2998,2999,3000,3001"

[211 rows x 1 columns]

In [34]:
master_df = master_df.drop('building_code', axis=1)
master_df.to_csv('buildstock_singleunits.csv')

In [35]:
master_df.head()

,Location Weather Year,Usage Level,Geometry Building Type ACS,Location,Location Region,Location Weather Filename,Vintage ACS,Vintage,Heating Fuel,Geometry Building Type RECS,...,Infiltration,Natural Ventilation,Mechanical Ventilation,Bathroom Spot Vent Hour,Range Spot Vent Hour,PV,Days Shifted,Geometry Perimeter Footprint Ratio,Geometry Building Horizontal Location MF,Geometry Building Level MF
Building,,,,,,,,,,,,,,,,,,,,,
1,TMY3,Medium,20 to 49 Unit,CA_Los.Angeles.Intl.AP.722950,CR11,USA_CA_Los.Angeles.Intl.AP.722950_TMY3.epw,1940-59s,1950s,Natural Gas,Multi-Family with 5+ Units,...,20 ACH50,"Year-Round, 3 days/wk",None,Hour6,Hour14,None,Day276,0.13,Left,Bottom
2,TMY3,Medium,20 to 49 Unit,CA_Los.Angeles.Intl.AP.722950,CR11,USA_CA_Los.Angeles.Intl.AP.722950_TMY3.epw,1940-59s,1950s,Natural Gas,Multi-Family with 5+ Units,...,20 ACH50,"Year-Round, 3 days/wk",None,Hour6,Hour14,None,Day276,0.13,Middle,Bottom
3,TMY3,Medium,20 to 49 Unit,CA_Los.Angeles.Intl.AP.722950,CR11,USA_CA_Los.Angeles.Intl.AP.722950_TMY3.epw,1940-59s,1950s,Natural Gas,Multi-Family with 5+ Units,...,20 ACH50,"Year-Round, 3 days/wk",None,Hour6,Hour14,None,Day276,0.13,Middle,Bottom
4,TMY3,Medium,20 to 49 Unit,CA_Los.Angeles.Intl.AP.722950,CR11,USA_CA_Los.Angeles.Intl.AP.722950_TMY3.epw,1940-59s,1950s,Natural Gas,Multi-Family with 5+ Units,...,20 ACH50,"Year-Round, 3 days/wk",None,Hour6,Hour14,None,Day276,0.13,Middle,Bottom
5,TMY3,Medium,20 to 49 Unit,CA_Los.Angeles.Intl.AP.722950,CR11,USA_CA_Los.Angeles.Intl.AP.722950_TMY3.epw,1940-59s,1950s,Natural Gas,Multi-Family with 5+ Units,...,20 ACH50,"Year-Round, 3 days/wk",None,Hour6,Hour14,None,Day276,0.13,Middle,Bottom

In [41]:
bstock.filter(['Geometry Building Level MF', 'Geometry Building Horizontal Location MF', 'Orientation', 'Geometry Stories', 'Geometry Building Number Units MF'])

,Geometry Building Level MF,Geometry Building Horizontal Location MF,Orientation,Geometry Stories,Geometry Building Number Units MF
Building,,,,,
1,Bottom,Left,North,1,4
2,Bottom,Right,North,1,4
3,Bottom,Left,South,1,4
4,Bottom,Right,South,1,4