In [2]:
import pandas as pd
from pathlib import Path

In [3]:
filename = Path("/Users/lliu2/Documents/Lab Call 5A - electrical panel constraints/FY23/Panels Estimation/euss1_2018_results_up00__panels5.csv")
df = pd.read_csv(filename, low_memory=False)

In [6]:
panel_cols = df.columns[-12:]
panel_cols

Index(['std_m_demand_load_fixed_VA', 'std_m_demand_load_special_VA',
       'std_m_nec_min_amp', 'std_m_nec_electrical_panel_amp',
       'opt_m_demand_load_general_VA', 'opt_m_demand_load_space_cond_VA',
       'opt_m_demand_load_continuous_VA', 'opt_m_nec_min_amp',
       'opt_m_nec_electrical_panel_amp', 'peak_amp', 'std_m_amp_pct_delta',
       'opt_m_amp_pct_delta'],
      dtype='object')

In [4]:
df[['std_m_demand_load_general_VA', 'std_m_demand_load_fixed_VA','std_m_demand_load_special_VA']].divide(
    df[['std_m_demand_load_general_VA', 'std_m_demand_load_fixed_VA','std_m_demand_load_special_VA']].sum(axis=1),
    axis=0
)

,std_m_demand_load_general_VA,std_m_demand_load_fixed_VA,std_m_demand_load_special_VA
0,0.163926,0.061395,0.774679
1,0.317520,0.121091,0.561390
2,0.122729,0.160881,0.716390
3,0.124348,0.163003,0.712649
4,0.226878,0.079943,0.693179
...,...,...,...
549995,0.229196,0.000000,0.770804
549996,0.240002,0.000000,0.759998
549997,0.157233,0.073044,0.769724
549998,0.197533,0.154705,0.647762
549999,0.142202,0.091533,0.766265

In [5]:
cond = df['std_m_nec_electrical_panel_amp']>=400

dfol = df.loc[cond]
dfol

,building_id,job_id,started_at,completed_at,completed_status,apply_upgrade.applicable,apply_upgrade.upgrade_name,apply_upgrade.reference_scenario,build_existing_model.ahs_region,build_existing_model.applicable,...,std_m_nec_min_amp,std_m_nec_electrical_panel_amp,opt_m_demand_load_general_VA,opt_m_demand_load_space_cond_VA,opt_m_demand_load_continuous_VA,opt_m_nec_min_amp,opt_m_nec_electrical_panel_amp,peak_amp,std_m_amp_pct_delta,opt_m_amp_pct_delta
28,546376,92,2022-09-01 22:52:28,2022-09-01 22:53:35,Success,NaN,NaN,NaN,Non-CBSA Mountain,True,...,323.656222,400,17619.6,40805.068778,0.0,243.436120,300,66.180833,NaN,NaN
35,168379,209,2022-09-01 23:17:28,2022-09-01 23:17:55,Success,NaN,NaN,NaN,Non-CBSA East North Central,True,...,302.141527,400,20232.8,41908.213172,0.0,258.920888,300,46.827958,NaN,NaN
252,329508,590,2022-09-02 05:46:07,2022-09-02 05:47:03,Success,NaN,NaN,NaN,Non-CBSA East South Central,True,...,380.956284,400,30253.2,47453.238754,0.0,323.776828,400,293.546042,NaN,NaN
359,64615,120,2022-09-01 23:04:50,2022-09-01 23:05:26,Success,NaN,NaN,NaN,Non-CBSA South Atlantic,True,...,325.634010,400,19419.6,37525.896926,0.0,237.272904,300,57.367458,NaN,NaN
425,34616,210,2022-09-01 23:17:22,2022-09-01 23:18:17,Success,NaN,NaN,NaN,Non-CBSA East South Central,True,...,300.418236,400,25336.8,40924.439838,0.0,276.088499,300,184.471000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549776,155019,25,2022-09-02 02:43:57,2022-09-02 02:44:28,Success,NaN,NaN,NaN,"CBSA Miami-Fort Lauderdale-West Palm Beach, FL",True,...,316.688657,400,18998.0,40542.502132,0.0,248.085426,300,74.003833,NaN,NaN
549832,280473,321,2022-09-02 03:40:22,2022-09-02 03:40:58,Success,NaN,NaN,NaN,Non-CBSA South Atlantic,True,...,421.578928,600,18699.6,57057.616298,0.0,315.655068,400,51.569167,NaN,NaN
549843,397123,292,2022-09-02 03:41:41,2022-09-02 03:42:11,Success,NaN,NaN,NaN,Non-CBSA East South Central,True,...,391.502540,400,25336.8,55207.898437,0.0,335.602910,400,266.249250,NaN,NaN
549858,111018,320,2022-09-02 03:39:38,2022-09-02 03:40:21,Success,NaN,NaN,NaN,Non-CBSA Mountain,True,...,376.304897,400,26056.8,45773.820172,0.0,299.294251,300,110.916375,NaN,NaN
549959,417492,149,2022-09-02 03:26:51,2022-09-02 03:27:55,Success,NaN,NaN,NaN,Non-CBSA South Atlantic,True,...,394.366734,400,25635.2,49580.812964,932.5,317.285471,400,42.713167,NaN,NaN

In [7]:
dfol[panel_cols]

,std_m_demand_load_fixed_VA,std_m_demand_load_special_VA,std_m_nec_min_amp,std_m_nec_electrical_panel_amp,opt_m_demand_load_general_VA,opt_m_demand_load_space_cond_VA,opt_m_demand_load_continuous_VA,opt_m_nec_min_amp,opt_m_nec_electrical_panel_amp,peak_amp,std_m_amp_pct_delta,opt_m_amp_pct_delta
28,1800.0,68951.543191,323.656222,400,17619.6,40805.068778,0.0,243.436120,300,66.180833,NaN,NaN
35,0.0,60385.266465,302.141527,400,20232.8,41908.213172,0.0,258.920888,300,46.827958,NaN,NaN
252,4500.0,70498.958275,380.956284,400,30253.2,47453.238754,0.0,323.776828,400,293.546042,NaN,NaN
359,6300.0,64926.212475,325.634010,400,19419.6,37525.896926,0.0,237.272904,300,57.367458,NaN,NaN
425,4500.0,54866.876560,300.418236,400,25336.8,40924.439838,0.0,276.088499,300,184.471000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
549776,5246.0,64438.127665,316.688657,400,18998.0,40542.502132,0.0,248.085426,300,74.003833,NaN,NaN
549832,4500.0,89752.992837,421.578928,600,18699.6,57057.616298,0.0,315.655068,400,51.569167,NaN,NaN
549843,4500.0,77331.909541,391.502540,400,25336.8,55207.898437,0.0,335.602910,400,266.249250,NaN,NaN
549858,6300.0,70977.275215,376.304897,400,26056.8,45773.820172,0.0,299.294251,300,110.916375,NaN,NaN
549959,5246.0,76668.516205,394.366734,400,25635.2,49580.812964,932.5,317.285471,400,42.713167,NaN,NaN

In [9]:
[col for col in df.columns if "floor_area" in col]

['build_existing_model.geometry_floor_area',
 'build_existing_model.geometry_floor_area_bin',
 'upgrade_costs.floor_area_attic_ft_2',
 'upgrade_costs.floor_area_attic_insulation_increase_ft_2_delta_r_value',
 'upgrade_costs.floor_area_conditioned_ft_2',
 'upgrade_costs.floor_area_conditioned_infiltration_reduction_ft_2_delta_ach_50',
 'upgrade_costs.floor_area_foundation_ft_2',
 'upgrade_costs.floor_area_lighting_ft_2']

In [11]:
dfol.groupby(["std_m_nec_electrical_panel_amp"])["upgrade_costs.floor_area_conditioned_ft_2"].min()

std_m_nec_electrical_panel_amp
400      633.0
600     1202.0
700     2176.0
800     2176.0
900     2663.0
1000    8194.0
1100    8194.0
1200    8194.0
1300    8194.0
1400    8194.0
Name: upgrade_costs.floor_area_conditioned_ft_2, dtype: float64

In [12]:
dfol.loc[dfol["upgrade_costs.floor_area_conditioned_ft_2"]==633]

,building_id,job_id,started_at,completed_at,completed_status,apply_upgrade.applicable,apply_upgrade.upgrade_name,apply_upgrade.reference_scenario,build_existing_model.ahs_region,build_existing_model.applicable,...,std_m_nec_min_amp,std_m_nec_electrical_panel_amp,opt_m_demand_load_general_VA,opt_m_demand_load_space_cond_VA,opt_m_demand_load_continuous_VA,opt_m_nec_min_amp,opt_m_nec_electrical_panel_amp,peak_amp,std_m_amp_pct_delta,opt_m_amp_pct_delta
222617,53001,445,2022-09-02 01:13:45,2022-09-02 01:14:23,Success,NaN,NaN,NaN,Non-CBSA South Atlantic,True,...,319.446542,400,18783.6,35868.140596,0.0,227.715586,300,83.193833,NaN,NaN